.category{
    z-index:1;
    position: absolute;
    margin-left: 100px;
    margin-top: 140px;
    
}
/*---------category----------*/
.contentWidth {
    width: 77%;
  }
  .category {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 23%;
    height: 510px;
    border-radius: 5px;
    padding-bottom: 510px;
  }
  .category img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
  }
  .category span {
    margin: 10px 20px;
    text-transform: capitalize;
  }
  .category .box {
    transition: 0.5s;
    padding: 0 20px;
  }
  .category .box:hover {
    background-color: #ffe1e6;
    cursor: pointer;
  }
  