.category{
    z-index:1;
    position: absolute;
    margin-left: 80px;
    margin-top: 165px;
}

/*---------category----------*/
.contentWidth {
    width: 70%;
  }
  .category {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    padding: 10px 15px 20px 20px;
    border-radius: 5px;
  }
  .category img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .category a {
   margin-left: 12px ;
  }


.category .box {
  display: flex;
  transition: 0.5s;
  align-items: center;     /* Alinea verticalmente en el centro */
}

  .category ul li  a.active {
    font-size:17px;
    font-weight: 900;

  }
