.category{
    z-index:1;
    position: absolute;
    margin-left: 90px;
    margin-top: 180px;
}
/*---------category----------*/
.contentWidth {
    width: 77%;
  }
  .category {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 23%;
    height: 510px;
    border-radius: 5px;
  }
  .category img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
  }
  /*

 .category span {
    margin: 10px 20px;
    text-transform: capitalize;
  }
  .category .box {
    display: flex;
    transition: 0.5s;
    margin: 0 20px;
  }
  .category .box:hover {
    background: #ae868c;
  }

  .category .active{
    background: #ae868c;
  }
*/

.category .box {
  display: flex;
  transition: 0.5s;
  margin: 0 20px;
  padding-top: 10px;
}
.category .box a{
  padding-left: 14px;
  padding-top: 13px;
}

  .category ul li  a.active {
    font-size:17px;
    font-weight: 900;

  }
