/*------head-----------*/
.contacto{
  margin: -7px 10px 14px 10px;
  }
  
  i {
    margin-right: 5px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
  
  a.logo-letra {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-style: italic;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
  
  }
  
  .logo {
    margin-left: 30px;
    margin-top: -50px;
  }
  .logo-letra {
    
    display: block;
    margin-top: -63px;
    margin-left: 100px;
  }
  
  .logo-letra:hover{
    color: #8b0024;
  }
  
  /*------head-----------*/ 
  
  /*------search-----------*/

  .navlink ul li a {
    position: relative;
  }
  .navlink ul li a::after {
  content: "";
  background-color: #8b0024;
  position: absolute;
  left:0;
  top: 29px;
  width: 100%;
  height:5px;
  opacity: 0;
  transition: opacity 0.5s ;
  }
  .navlink ul li a.active::after{
    opacity: 0.9;
  }
  .navlink ul li a:hover::after{
    opacity: 0.9;
  }
  
  
  .search {
    padding: 20px;
    height: 95px;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10000000000000000000000;
    background-color: #fff;
  }
  
  .navlink ul {
    line-height: 50px;
  }
  .navlink ul li {
    margin-top: 5px;
   margin-inline: 26px;
   margin-left: 8px;
  
  }
  .navlink ul li a {
    letter-spacing: 0.6px;
    font-size: 18px;
    font-weight: 410;
  }
  
  .open {
    display: none;
  }
  
  .search.active {
    height: 95px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    transition: 0.7s;
  }
  
  @media (max-width: 768px) {
    header ul {
      padding-top: 30px;
    }
    .nav-links-mobile {
      position: absolute;
      display: block;
      list-style: none;
      box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      left: 0;
      top: 0;
      transition: all 0.5s ease-in-out;
      width: 60%;
      height: 100vh;
      background-color: white;
      z-index: 888;
    }
    header ul li {
      width: 100%;
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
      line-height: 70px;
    }
    header .link {
      display: none;
    }
    .close,
    .open {
      position: absolute;
      top: 35px;
      right: 20px;
      color: #ff014f;
      display: block;
      font-size: 25px;
      z-index: 999;
    }
    .close {
      right: 45%;
    }
    .close.home-btn {
      background: linear-gradient(145deg, #e2e8ec, #ffffff);
      color: #ff014f;
      border-radius: 50%;
      padding: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
    .header.active {
      height: 10vh;
    }
  }
  