.d_flexImg {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    
    /*
    display: flex;
    justify-content: space-between;
    

    */
}

.cover {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    margin: 0px;
    margin-left:-10px;
  }
  
.cover > img {
    float: left;
    width: 37%;
    
  }

.annocument{
  background-color: rgb(241, 241, 241);
  padding-bottom: 80px;
}