
.containerShop {
  max-width: 100%;
}
.d_flexShop{
  display: flex;
  justify-content: center;
}


.shop .category {
  padding: 30px;
  height: 90vh;
}
.chead h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.chead h1:nth-child(2) {
  opacity: 0.5;
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  padding-left: 70px;
}
.shop .category .box {
  background-color: #f6f9fc;
  margin: 15px 0;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 5px;
}
.shop .category img {
  width: auto;
  height: auto;
}
.shop .category .box:hover {
  background-color: #fff;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
.shop .box2 {
  margin-top: 100px !important;
  text-align: center;
}
.shop .category button {
  padding: 10px;
  background: none;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.shop .product img {
  width: 100%;
  height: 100%;
}
.shop .product {
  transition: 0.5s;
}

.product:hover{
  box-shadow: rgb(43 52 69 /40%) 0px 5px 20px;

}

.heading-right{
  margin: auto;

}
button.colorLetra{
  color:#fff;
  margin-top: 10px;
  background: #8b0024; 
  font-weight: bold; 
  color: #fff; 
  border-radius: 10px;
  border: none;
  padding-block: 15px;
  padding-inline: 46px;
  text-align: center;
  width: 180px;
}

.heading-right.row {
  margin-top: 30px;
  color: #fff; 
  text-align: center;

}
button.colorLetra:hover{
  background: rgb(93, 60, 60);
  box-shadow: rgb(3 0 71 / 35%) 0px 1px 4px;
  transition: 0.3s;
}

.heading-middle{
  margin: auto;
  text-align: center;
  padding-block: 15px;
  font-size: 20px;
}